## Problem 1: Write a program that will give you in hand monthly salary after deducattion on CTC-HRA(10%),DA(5%),PF(3%)and taxes deductio as bellow:
salary (lakhs):Tax(%)
*below 5:0%
*5-10:10%
*10-20:20%
*aboove 20 :30%

In [15]:
CTC=float(input('enter salary in lakhs'))
HRA=CTC*0.1
DA=CTC*0.05
PF=CTC*0.03
taxable_income=CTC=HRA-DA-PF
if CTC < 5 :
    tax_per = 0
elif 5 <= CTC <= 10:
    tax_per = 10
elif 10 <= CTC <= 20:
    tax_per = 20
else:
    tax_per = 30
tax_deduct = taxable_income*(tax_per/100)
monthly_sal = CTC-HRA-DA-PF-tax_deduct
print("Monthly Salary:Rs.",monthly_sal)

enter salary in lakhs 20000

Monthly Salary:Rs. -3320.0

## Problem 2: Write a program the that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
s1 = int (input("enter the triangle side-1:"))
s2 = int (input("enter the triangle side-2:"))
s3 = int (input("enter the triangle side-3:"))
sum = s1+s2+s3
if(sum==180):
   print ("triangle valid..")
else:
    ("triangle not valid..")

## Problem 3:Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit

In [16]:
cp=float(input("Enter the cost price."))
sp=float(input("Enter the selling price."))
profit = sp-cp
if profit>0:
    print("Profit")
elif profit<0:
    print("loss")
else:
    print("no profit and loss")

Enter the cost price. 2000
Enter the selling price. 3000

Profit

## Problem 4:write a menu-driven program-
1.cm to fit 
2. km to miles
3.USD to INR 
4.exit

In [5]:
menu = input ("""
select one option 
1. cms to fit 
2. km to miles
3. USD to INR
4. Exit 
""")
if menu =="1":
     cm = float (input ("enter your cm value "))
     print ("ft value is ",0.03280*cm)
elif menu =="2":
    km = eval (input ("enter your km value"))
    print ("miles value is ",0.62*km)
elif menu == "3":
    USD = eval (input ("enter your USD value"))
    print("INR value is ",83.35*USD)
else:
           print ("Exit")

select one option
1. cms to fit
2. km to miles
3. USD to INR
4. Exit
 2
enter your km value 10

miles value is  6.2

## Problem5. Exercise 12: Display fibonacci series up to 10 terms.

In [3]:
num = int(input("enter any number"))
n1=0
n2=1
sum =0
if num<=0:
    print('please enter number greater than 0')
else:
    for i in range(0,num):
        print (sum,end=" ")
        n1 = n2
        n2 = sum 
        sum = n1 + n2
sum = n2+n1

enter any number 7

0 1 1 2 3 5 8

## Problem 6. Find the factorial of a given number.
write a program to use loop to find the factorial of a given number.
the factorial (symbol:!) means to multiply all whole numbers from the chosen number down to 1.
for example : calculate the factorial of 5

In [2]:
num =int(input("Enter a number:"))
fact = 1
a=1
while a <=num :
    fact=fact*a
    a=a+1
print("The factorial of ",num ,"is",fact)

Enter a number: 5

The factorial of  5 is 120

## Problem 7. Reverse a given integer number.
Input :76542
Output :24567

In [ ]:
i=int(input("enter number"))
rev=0
while (i>0):
    rev=(rev*10)+i%10
    i=i//10
print("Reverse number=",rev)

## Problem 8. Take a user input as inter N. Find out the sum from 1 to N.if any numberr if divisible by 5,that skip that number.and if the sum is greater than 300,dont need to calculate the sum further more. print the final result.and dont use for loop to solve this problem

    
Example 1:
Input:
30

In [ ]:
N=int(input("enter an integer num: "))
sum =0
i=1
while i < N:
    if i % 5 == 0:
        i+= 1
        continue
        
    if sum+i > 300:
         break
    sum += i
     i += 1
print("final result:",sum)

## Problem 9: write a program which will find all such numbers which will are divisible by 7 but are not a multiple of 5,between 2000 and 3200(both included).the numbers obatined be printed in a comma-seperated seqence on a asingle line.

In [22]:
result = []
for num in range (2000,3200):
    if num % 7 == 0 and num % 5 !=0:
        result.append(num)
print(result)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

## Problem 10: Write a program which will find all such numberse between 1000 and 3000 (both included) such that each digit of the  number is an even number. the numbers obatined should be printed in a space -sperated seqence on a single line

In [1]:
result = [ ]
for i in range(1000,3000):
    s = str(i)
    if (int(s[0]) % 2 == 0) and (int(s[1]) %2 ==0) and (int(s[2]) % 2 == 0):
        result.append(s)
print(" ".join(result))

2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2020 2021 2022 2023 2024 2025 2026 2027 2028 2029 2040 2041 2042 2043 2044 2045 2046 2047 2048 2049 2060 2061 2062 2063 2064 2065 2066 2067 2068 2069 2080 2081 2082 2083 2084 2085 2086 2087 2088 2089 2200 2201 2202 2203 2204 2205 2206 2207 2208 2209 2220 2221 2222 2223 2224 2225 2226 2227 2228 2229 2240 2241 2242 2243 2244 2245 2246 2247 2248 2249 2260 2261 2262 2263 2264 2265 2266 2267 2268 2269 2280 2281 2282 2283 2284 2285 2286 2287 2288 2289 2400 2401 2402 2403 2404 2405 2406 2407 2408 2409 2420 2421 2422 2423 2424 2425 2426 2427 2428 2429 2440 2441 2442 2443 2444 2445 2446 2447 2448 2449 2460 2461 2462 2463 2464 2465 2466 2467 2468 2469 2480 2481 2482 2483 2484 2485 2486 2487 2488 2489 2600 2601 2602 2603 2604 2605 2606 2607 2608 2609 2620 2621 2622 2623 2624 2625 2626 2627 2628 2629 2640 2641 2642 2643 2644 2645 2646 2647 2648 2649 2660 2661 2662 2663 2664 2665 2666 2667 2668 2669 2680 2681 2682 2683 2684 2685 2686 2687 2688 2689 2800 2801 2802 2803 2804 2805 2806 2807 2808 2809 2820 2821 2822 2823 2824 2825 2826 2827 2828 2829 2840 2841 2842 2843 2844 2845 2846 2847 2848 2849 2860 2861 2862 2863 2864 2865 2866 2867 2868 2869 2880 2881 2882 2883 2884 2885 2886 2887 2888 2889

## Problem 11: a robot moves in a plan starting the original point (0,0). the robot can move toward UP,DOWN,LEFT and RIGHT with a given steps. 
The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
!

In [ ]:
x=0
y=0
while True :
    movement = input("Enter movementb(Type ! to stop):")
    if movement=='!':
        break
        direction,steps=movement.split()
        steps=int(steps)
if direction == 'UP' :
    y+=steps
elif direction == 'DOWN':
    y-=steps
elif direction == 'LEFT':
    x-=steps
elif direction =='RIGHT':
    x+=steps
distance=round((x**2+y**2)**0.5)
print("Distance from the origanal point:",distance)

## problem 12: Write a program to print whether a given number is a prime number or not

In [17]:
num = int(input("enter an integer num:"))
if num > 1:
    for i in range(2,(num//2)+1):
        if (num % i) == 0:
            print(num,"is not a primenumber")
            break
    else:
            print(num,"is a prime number")
else:
         print(num,"is not a prime number")

enter an integer num: 7

7 is a prime number

## Problem 13: Print all the Armstrong numbers in a given range 
range will be provided by the user

armstrong number is a number that is equal to the sum of cubes of its digit.

for example 0,1,153,370,371 and 407 are the armstrong numberse

In [9]:
num = int(input("enter a number:"))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp//=10
    if num == sum:
        print(num,"is an Armstrong number")

enter a number: 153

153 is an Armstrong number

## Problem 14: calculate the angle between the hour and and minute hand .
note:there can be two angles hands;we need to print a minimum of two.also,we need to print the floor of the final result angle for example,if the final angle is 10.
Input:
H=9,M=0

In [8]:
H = 9
M = 0
hour_angle = (H % 12) * 30 + (M * 0.5)
minute_angle = M * 6
angle_difference = abs(hour_angle-minute_angle)
smaller_angle = min(angle_difference,360 - angle_difference)
result = int(smaller_angle)
print(result)

90

## Problem 15: Given two rectangles overlap or not.a rectangle is denoted by providing the x and y coordinates of two points:the left top corner and the right cottom corner and the right bottom corner of the rectangle .two rectangle sharing a side are considered overlaping (L1  and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).
Note:it may be assumed that the rectangle  are parallel  to the coordinate axis

In [4]:
x1,y1 = 0, 10
x2,y2 = 10,0

x3,y3 = 5,5
x4,y4 = 15,-5

if (x2 < x3 or x4 < x1 or y2 > y3 or y4 >y1):
    overlap = false
else:
    overlap = True

print(overlap)

True